{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Food Recipes</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <link rel="icon" href="{% static 'img/shallow-pan-of-food.png' %}" sizes="32x32">
  <link rel="stylesheet" href="{% static 'css/index_css.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer_css.css' %}">
  <link rel="stylesheet" href="{% static 'css/form_stylesheet.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>