{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='Container_form'>
    <form class='form' action="login" method='post'>
        {% csrf_token %}
        <fieldset>
            <legend> Log In</legend>
            <label for='form-name'>Username</label>
            <input class='form-input' type='text' name='username'>

            <label for='password'>Password</label>
            <input class='form-input' type='password' name='password'>
            <input class='form-submit' type="submit" value="Log in">
        </fieldset>
    </form>
</div>

{% endblock content %}